.header {
  display: grid;
  justify-content: center;
  justify-items: center;
  margin-bottom: 100px;
  width: 100%;
}

.searchbar {
  display: flex;
  width: 800px;
  justify-content: space-between;
  align-items: center;
}

.searchbar input {
  height: 60px;
  font-size: 1.5rem;
  width: 500px;
  border-radius: 10px;
  padding-left: 10px;
  color: #ffead0;
}

.searchbar button,
.searchbar a {
  font-size: 2rem;
  color: #ffead0;
}

@media screen and (width <= 1000px) {
.searchbar {width:  100%;}

  .searchbar input {
    width: 70%;
  }
}
