.overlay {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #37505c47;
  width: 100vw;
  height: 100vh;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 1000;
  font-size: 2rem;
}

.modal {
  margin: auto;
  background-color: #96616b;
  border: 1px solid #ffead0;
  border-radius: 15px;
  padding: 20px 150px;
}

.modal p {
  margin-bottom: 0;
}

.yes {
  color: #0fe094;
}

.no {
  color: red;
}

.modal button {
  font-size: 1.2rem;
  padding-bottom: 40px;
  margin: 0 20px;
}

.modal button:hover {
  font-size: 1.5rem;
}
