:root {
  font-family: "Nunito Sans", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 600;

  color-scheme: light dark;
  color: #ffead0;
  background-color: #37505c;
}



h1 {
  font-family: "Rubik 80s Fade", system-ui;
  font-weight: 400;
  font-size: 4rem;
  font-style: normal;
  text-shadow: 3px -3px 6px #ffead0;
}

button,
a {
  border: none;
  background: none;
  cursor: pointer;
}

input:focus {
  outline: none;
}

button:hover,
a:hover {
  font-size: 2.3rem;
}
